* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
}

nav {
    width: 100vw;
    max-width: 100%;
    /* background-color: #2a2a46; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 10px;
    user-select: none;
}

nav h1 {
    color: #7510F7;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

nav ul li {
    list-style: none;
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

nav ul li a {
    font-size: 19px;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #333;
}

.heading {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 70%;
}

.heading-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-top: 0.75em;
    font-size: 0.9rem;
}

.heading-image {
    display: flex;
    align-items: center;
    max-width: 125px;
    width: 45%;
    margin: 2.5em 0 2em;
}

.heading-image img {
    width: 100%;
    height: 100%;
}

.heading-text p {
    color: black;
}

.img-bottom {
    z-index: -1;
    max-width: 550px;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.section {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    height: 80vh;
    background-color: #7510F7;
}

.section-1 h2 {
    text-align: center;
    font-size: 1.25em;
    color: white;
    padding-top: 4em;
    font-weight: 700;
}

p {
    color: white;
    text-align: center;
    font-size: 1.1em;
    padding: 1.5em 2em 0;
    line-height: 1.75em;
}

.table-container {
    position: relative;
    top: -10em;
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgba(100, 100, 100, 0.25);
    width: 90vw;
    height: auto;
}

.table-item {
    border-bottom: 1px solid rgba(100, 100, 100, 0.25);
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0 3em;
}

h3 {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 0.75em;
}

h4 {
    font-weight: 600;
    margin-top: 3em;
    color: #7510F7;
}

.table-item p {
    padding: 0;
    margin-top: 0.75em;
    font-size: 1em;
    color: black;
}

.table-item ul {
    margin-top: 0.75em;
    list-style: none;
    line-height: 1.75em;
    text-align: center;
}

.coming-soon {
    position: relative;
    top: -50px;
    margin-bottom: 2em;
}

@media (min-width: 700px) {
    .heading-text {
        font-size: 1em;
        margin-top: 12.5vh;
    }

    nav {
        flex-direction: row;
    }

    nav ul li {
        display: inline-block;
        margin-left: 40px;
    }
}


@media (min-width: 900px) {
    .heading {
        font-size: 1.25em;
    }

    .section-1 h2 {
        font-size: 1.75em;
    }

    .section-1 {
        height: 60vh;
    }

    .section-1 p {
        width: 50%;
    }

    .table {
        flex-direction: row;
    }

    .table-item {
        padding: 1em 2em 3em;
        border: none;
        border-right: 1px solid rgba(100, 100, 100, 0.25);
    }

    .table-item:nth-last-of-type(1) {
        border: none;
    }
}